<div class="row">
  <ol>
    <% @tracks.each do |track| %>
      <div class="col-md-4">
        <div class="card">
          <%= embed(track.link) %>
          <div class="card-block">
            <div class="btn-group">
              <%= link_to fa_icon('trash'), track,  method: :delete, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ol>
</div>
